html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
}

.centerbuttons {width:250px;margin:0 auto;}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.DivisionWhole{
  float: left;
  width: 100%;
  height: 80%;
  border-top: 1px solid rgb(128, 128, 128, .5);
  border-bottom: 2px solid rgb(128, 128, 128, .5);
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 10%;
  background: rgba(32,40,61,0.7);
}

.DivisionLeft{
    float: left;
    width: 50%;
    height: 80%;
    margin-right: 0%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: rgba(15,22,48,0.9);
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128, .5);
}

.DivisionRight{
    float: right;
    width: 37%;
    height: 80%;
    margin-right: 5%;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: rgba(15,22,48,0.9);
    border: 1px solid rgb(128, 128, 128, .5);
    border-radius: 10px;
}

.table-stats{
  width:40%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin: 3%;

  display:inline-block;

  color: rgb(156, 118, 47);
  background-color: transparent;
}

.table-stats thead {
  font-weight: bold;
  color: white;
  background-color: transparent;
}

.table-stats td{
  border: transparent;
  width: 100%;;
}

.table-items{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin: 3%;


  color: rgb(156, 118, 47);
  background-color: transparent;
}

.table-items thead {
  font-weight: bold;
  color: rgb(233, 174, 48);
  background-color: transparent;
}

.table-items td{
  border: transparent;
}


.input-character {
  width: 300px;
  height: 25px;
  padding: 5px;
  color: white;
  background-color: rgb(11, 18, 47);
  border: 1px solid rgb(238, 186, 111);
  margin: 5px;
}

.button-search {
  width: 310px;
  height: 35px;
  color: white;
  background-color: rgb(48, 128, 135);
  border-color: transparent;
  margin: 5px;

}
