<!DOCTYPE html>

<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">

    <title>World of Warcraft Character Details</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="../coop/wow.js"></script>
</head>

<body ng-app="WowApp">
  <div ng-controller="WowController">


    <div class="centerbuttons">
      <img src="images/logo-white.png" alt="eagledream technologies" style="width: 350px">
      <input placeholder="Character" ng-model="searchByCharacter" class="input-character"/>
      <input placeholder="Realm" ng-model="searchByRealm" class="input-character"/>

        <button ng-click = "searchCharacter()" class="button-search">Search</button>

    </div>
    <br>

    <div class="DivisionWhole">

      <div class="DivisionLeft">
        <!-- The attributes table -->
        <table ng-model="character" class="table table-stats" >
          <tbody>
            <thead>
              <td>Attributes</td>
            </thead>
            <tr>
              <td>Strength</td>
              <td>{{character.str}}</td>
            </tr>
            <tr>
              <td>Agillity</td>
              <td>{{character.agi}}</td>
            </tr>
            <tr>
              <td>Intelligence</td>
              <td>{{character.int}}</td>
            </tr>
            <tr>
              <td>Stamina</td>
              <td>{{character.sta}}</td>
            </tr>
          </tbody>
        </table>

        <!-- The defense table -->
        <table ng-model="character"  class="table table-stats">
          <tbody>
            <thead>
              <td>Defense</td>
            </thead>
            <tr>
              <td>Armor</td>
              <td>{{character.armor}}</td>
            </tr>
            <tr>
              <td>Dodge</td>
              <td>{{character.dodge}}%</td>
            </tr>
            <tr>
              <td>Parry</td>
              <td>{{character.parry}}%</td>
            </tr>
            <tr>
              <td>Block</td>
              <td>{{character.block}}%</td>
            </tr>
          </tbody>
        </table>

        <br>

        <!-- The attack table -->
        <table ng-model="character"  class="table table-stats">
          <tbody>
            <thead>
              <td>Attack</td>
            </thead>
            <tr>
              <td>Damage</td>
              <td>{{character.dmg_min}} - {{character.dmg_max}}</td>
            </tr>
            <tr>
              <td>Speed</td>
              <td>{{character.speed}}</td>
            </tr>
          </tbody>
        </table>

        <!-- The Enhancements table -->
        <table ng-model="character"  class="table table-stats">
          <tbody>
            <thead>
              <td>Enhancements</td>
            </thead>
            <tr>
              <td>Crit</td>
              <td>{{character.crit}}%</td>
            </tr>
            <tr>
              <td>Haste</td>
              <td>{{character.haste}}%</td>
            </tr>
            <tr>
              <td>Mastery</td>
              <td>{{character.mastery}}%</td>
            </tr>
            <tr>
              <td>Leech</td>
              <td>{{character.leech}}%</td>
            </tr>
          </tbody>
        </table>

        <br>

        <!-- The spell table -->
        <table ng-model="character"  class="table table-stats">
          <tbody>
            <thead>
              <td>Spell</td>
            </thead>
            <tr>
              <td>Mana Regen</td>
              <td>{{character.mana5}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="DivisionRight">
      <!-- The items table -->
      <table class="table table-items">
        <tbody>
          <thead>
            <td>Item</td>
            <td>Buy Price</td>
            <td>Sell Price</td>
            <td>Required Level</td>
          </thead>
          <tr ng-repeat="item in itemsdata">
            <td>{{item.name}}</td>
            <td>{{item.buyPrice}}</td>
            <td>{{item.sellPrice}}</td>
            <td>{{item.requiredLevel}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</body>

</html>
